mixin breadcrumbs-item(text,href,mod)
    li.breadcrumbs__item
        if(href)
            a.breadcrumbs__link(href=href class=mod ? 'breadcrumbs__link--slash': "") #{text}
        else
            span.breadcrumbs__text #{text}

section.breadcrumbs
    .container
        ul.breadcrumbs__list
            if pageClass === 'catalog-page'
                +breadcrumbs-item('Главная страница','index.html')
                +breadcrumbs-item('Каталог книг')
            if pageClass === 'book-page'
                +breadcrumbs-item('Главная страница','index.html')
                +breadcrumbs-item('Каталог книг','catalog.html', true)
                +breadcrumbs-item('Железный король')
