-
    var books = [
        {
            name: "Истребитель",
            pages: "576",
            author: "Быков Д.",
            img: `${pathContentImg}book-istrebitel-big.jpg`,
            description: "Роман о советских летчиках, \"соколах Сталина\"",
            stars: "3.9",
            link: "#",
            width: "275",
            height: "320"
        },
        {
            name: "Чувство стыда",
            pages: "170",
            author: "Санд И.",
            img: `${pathContentImg}book-feelings-of-shame.jpg`,
            description: "Это чувство сидит глубоко в нас, о нем не принято распространяться и\u00A0\обсуждать с близкими",
            stars: "4.1",
            link: "#",
            width: "275",
            height: "320"
        },
        {
            name: "Вторая жизнь Уве",
            pages: "384",
            author: "Несбё Ю.",
            img: `${pathContentImg}book-second-life-big.jpg`,
            description: "Откуда берутся зануды и склочники? Внутри зреет обида на мир",
            stars: "4.4",
            link: "#",
            width: "275",
            height: "320"
        },
        {
            name: "Transhumanism inc.",
            pages: "608",
            author: "Пелевин В.",
            img: `${pathContentImg}book-transhumanism.jpg`,
            description: "В будущем богатые люди смогут отделить свой мозг от старящегося тела",
            stars: "3.9",
            link: "#",
            width: "275",
            height: "320"
        }
    ];
