extends layout/layout

block variables
    - var title = 'Сайт с книгами "По полочкам"'
    - var pageClass = 'index-page'
    - var pathContentImg = 'static/images/content/'
    - var pathCommonImg = 'static/images/common/'

block content
    main(class=pageClass)
        include modules/hero
        include modules/new-books/new-books
        include modules/best-books/best-books
        include modules/reviews/reviews
        include modules/about
