extends layout/layout

block content
    include modules/header
    main.book-page
        include modules/breadcrumbs
        include modules/book/book
        include modules/reviews/critique
        include modules/recent-view/recent-view
    include modules/footer
