extends layout/layout

block content
    main.book-page
        include modules/breadcrumbs
        include modules/book/book
        include modules/reviews/critique
        include modules/recent-view/recent-view
