-
    var reviews = [
        {
            name: "Алексей Иванов",
            booksCount: "23",
            photo: `${pathContentImg}review-4.jpg`,
            review: "Хорошая книга. Полна приключений, романтики, неплохих действующих героев. Вообщем всего, что нужно, чтобы хорошо провести время за чтением. ",
            gender: "male"
        },
        {
            name: "Анна Кириллова",
            booksCount: "50",
            photo: `${pathContentImg}review-5.jpg`,
            review: "Не ожидала многого от этой книги, купилась больше на красивую обложку, но была рада ошибиться. Обе книги прочитала дня за 3 или 4, уже не помню, так вчиталась!",
            gender: "female"
        },
        {
            name: "Мария Нагаева ",
            booksCount: "8",
            photo: `${pathContentImg}review-6.jpg`,
            review: "Очень нетипичный подход, учитывая, что фейри и железо слабо совместимы, но логика автора, позволившая формирование нового Двора, меня восхитила. ",
            gender: "female"
        },
    ];
