include critique-data

section.reviews
    .container
        h2.reviews__title.section__title Рецензии
        ul.reviews__list
            each review in reviews
                include one-review

