-
    var reviews = [
        {
            name: "Кирилл Агапьев",
            booksCount: "35",
            photo: `${pathContentImg}review-1.jpg`,
            review: "Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!",
            gender: "male"
        },
        {
            name: "Елизавета Марьина",
            booksCount: "76",
            photo: `${pathContentImg}review-2.jpg`,
            review: "Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек",
            gender: "female"
        },
        {
            name: "Полина Аленичева",
            booksCount: "35",
            photo: `${pathContentImg}review-3.jpg`,
            review: "Удобный каталог, полезные отзывы на книги, так же есть видеообзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену.",
            gender: "female"
        },
    ]
