-
    var book = {
        title: "Железный король",
        image: `${pathContentImg}iron-king-head.jpg`,
        height: "550",
        width: "485",
        star: "3.8",
        grade: "243",
        author: "Кагава Джули",
        information: [
            {
                term: "Код товара",
                def: "123187432"
            },
            {
                term: "Издательство",
                def: "Freedom"
            },
            {
                term: "Серия",
                def: "Железные фейри"
            },
            {
                term: "Год издания",
                def: "2021"
            },
            {
                term: "Переводчик",
                def: "Руснак К."
            },
            {
                term: "Кол-во страниц",
                def: "416"
            },
            {
                term: "Тип обложки",
                def: "Твердая"
            },
            {
                term: "Вес, г",
                def: "370"
            },
            {
                term: "Возрастные ограничения",
                def: "16+"
            }
        ],
        annotation: "Меня зовут МЕГАН ЧЕЙЗ. Менее чем через сутки мне исполнится шестнадцать. Прекрасный возраст! В нем есть нечто волшебное. О нем написано бесчисленное количество повестей, песен и стихов: девушка находит настоящую любовь, звезды освещают ей путь, а прекрасный принц увозит на край света. Но это не моя история. В жизни Меган все идет не так с тех самых пор, как ее отец пропал. Но после исчезновения младшего брата Меган узнает правду: она – дочь короля фейри и пешка в смертельной игре."
    }
