-
    var books = [
        {
            name: "Тревожные люди",
            pages: "416",
            author: "Бакман Ф.",
            img: `${pathContentImg}books-anxious-people.jpg`,
            description: "Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа",
            stars: "5.0",
            link: "#",
            width: "275",
            height: "320"
        },
        {
            name: "Sapiens",
            pages: "520",
            author: "Харари Ю.",
            img: `${pathContentImg}book-sapiens.jpg`,
            description: "Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?",
            stars: "4.9",
            link: "#",
            width: "275",
            height: "320"
        },
        {
            name: "Институт",
            pages: "608",
            author: "Кинг С.",
            img: `${pathContentImg}book-institute.jpg`,
            description: "Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института",
            stars: "4.8",
            link: "#",
            width: "275",
            height: "320"
        },
        {
            name: "Нормальные люди",
            pages: "288",
            author: "Руни С.",
            img: `${pathContentImg}book-normal-peoples.jpg`,
            description: "О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему",
            stars: "4.7",
            link: "#",
            width: "275",
            height: "320"
        }
    ];
